@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  @include box-sizing(border-box);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  padding: 0;
  margin: 0;

  height: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: $grey;
}

a {
  display: inline-block;
}
img {
  max-width: 100%;
}

a,
button,
input,
select,
textarea {
  &:focus,
  &:hover {
    outline: none;
  }
  cursor: pointer;
}

input,
select {
  -webkit-appearance: none;
}

img[src='.svg'] {
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
img {
  image-rendering: auto;
  @include user-select(none);
}
@supports (-moz-appearance: none) {
  img[src='.svg'] {
    image-rendering: auto;
  }
  img {
    image-rendering: auto;
  }
}

svg {
  max-width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

[data-selected] {
  &:before {
    content: attr(data-selected);
  }
  --x: attr(data-selected);

  li[id='--x'] a {
    color: red !important;
  }
}

pre {
  min-width: 100%;
  max-height: 200px;

  padding: 1rem;

  font-family: monospace;
  font-size: 0.75rem;

  overflow-y: auto;
  @include bg(#eaeaea);
  border: 1px solid $blue;
  border-radius: 15px;

  &::before {
    content: 'Code:';
    display: block;
    padding-bottom: 1rem;
    font-weight: bold;
  }
}
