html, body {
  min-width: 320px;
}

header {
  top: 0;
  max-width: $container;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 80px;
  background: $vapor;
  @include respond-to('desktop') {
    padding: 0;
  }

  .logo_link {
    color: $grey;
    text-decoration: none;
    height: max-content;
    display: flex;
    align-items: center;

    &:hover {
      color: $blue;
    }
  }

  .header__buttons-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
}

.hero {
  margin-top: 80px;
  padding: 40px auto 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $blue;
  height: 50vh;

  h1{
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.015em;
    max-width: 800px;
  }
  p{
    max-width: 600px;
    line-height: 30px;
    margin-bottom: 48px;
  }
  button{
    background: $white;

  }
  > div {
    max-width: $container;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 1rem;
}

