$fonts_dir: '/src/assets/fonts/';

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-BlackItalic-Web.eot');
  src: url($fonts_dir + 'StyreneA-BlackItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-BlackItalic-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-BlackItalic-Web.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-Black-Web.eot');
  src: url($fonts_dir + 'StyreneA-Black-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-Black-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-Black-Web.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-BoldItalic-Web.eot');
  src: url($fonts_dir + 'StyreneA-BoldItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-BoldItalic-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-Bold-Web.eot');
  src: url($fonts_dir + 'StyreneA-Bold-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-Bold-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-MediumItalic-Web.eot');
  src: url($fonts_dir + 'StyreneA-MediumItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-MediumItalic-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-MediumItalic-Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-Medium-Web.eot');
  src: url($fonts_dir + 'StyreneA-Medium-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-Medium-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-RegularItalic-Web.eot');
  src: url($fonts_dir + 'StyreneA-RegularItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-RegularItalic-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-Regular-Web.eot');
  src: url($fonts_dir + 'StyreneA-Regular-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-Regular-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-LightItalic-Web.eot');
  src: url($fonts_dir + 'StyreneA-LightItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-LightItalic-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-LightItalic-Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-Light-Web.eot');
  src: url($fonts_dir + 'StyreneA-Light-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-Light-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-ThinItalic-Web.eot');
  src: url($fonts_dir + 'StyreneA-ThinItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-ThinItalic-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-ThinItalic-Web.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url($fonts_dir + 'StyreneA-Thin-Web.eot');
  src: url($fonts_dir + 'StyreneA-Thin-Web.eot?#iefix')
      format('embedded-opentype'),
    url($fonts_dir + 'StyreneA-Thin-Web.woff2') format('woff2'),
    url($fonts_dir + 'StyreneA-Thin-Web.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
