
$dividerHeight: 62px;
$headerHeightMobile: 125px;
$containerMaxWidth: 1140px;
$containerMinHeightMobile: calc(calc(var(--vh) * .4) - #{$dividerHeight});
$containerMinHeightDesktop: calc(calc(var(--vh) * .5) - #{$dividerHeight});

$headerHeight: 200px;

$containerMaxWidth: 1920px;
$contentContainerHeightMobile: calc(var(--vh) - #{$headerHeightMobile * 2});
$contentContainerHeightDesktop: calc(var(--vh) - #{$headerHeight * 2});

$horizontalPadding: 1rem;
$horizontalPaddingTablet: 1rem;
$horizontalPaddingDesktop: 4.25rem;

$columnGap: 0.5rem;
$errorHeight: 1.625rem;

$grey: #3a3a3a;
$lightGrey: #909090;
$red: #ff4a4a;
$white: #fff;

//HEDERA PRIMARY COLORS
$black: #222222;
$charcoal: #464646;
$smoke: #8C8C8C;
$vapor: #F9F9F9;

//HEDERA SECONDARY COLORS
$ultraviolet: #8259EF;
$green: #33FF00;
$blue: #2D84EB;
$orange: #FF4200;

//HEDERA ACCENTS COLORS
$yellow: #EADA0B;
$lime: #B7F133;

//HEDERA GRADIENT
$gradient: linear-gradient(160deg, #5281e7, #5a73e7 34%, #765aea);

$border: 1px solid rgba(255, 255, 255, .69);
$inputColor: #01020395;

// breakpoints
$breakpoints: (
  'mobile': 600px,
  'tablet': 768px,
  'laptop': 992px,
  'desktop': 1200px,
  'desktop-wide': 1600px,
  'desktop-extra-wide': 1920px,
);

