$container: 1140px;
$columnGap: 1.25rem;

$grey: #3a3a3a;
$lightGrey: #909090;
$red: #ff4a4a;
$white: #fff;

//HEDERA PRIMARY COLORS
$black: #222222;
$charcoal: #464646;
$smoke: #8c8c8c;
$vapor: #f9f9f9;

//HEDERA SECONDARY COLORS
$ultraviolet: #8259ef;
$green: #07e78e;
$blue: #2d84eb;
$orange: #ff4200;

//HEDERA ACCENTS COLORS
$yellow: #eada0b;
$lime: #b7f133;

//HEDERA GRADIENT
$gradient: linear-gradient(160deg, #5281e7, #5a73e7 34%, #765aea);

$border: 1px solid hsla(0, 0%, 100%, 0.2);

// breakpoints
$breakpoints: (
  'mobile': 600px,
  'tablet': 768px,
  'laptop': 992px,
  'desktop': 1200px,
);
