.nft {
  &--card {
    background: var(--background-color);
    display: grid;
    grid-template-rows: 1.3fr max-content;
    text-decoration: none;

    &__content {
      padding: 2rem 1rem;

      p {
        margin: 0;
      }

    }

    &__serial {
      margin-bottom: -5px;

      p {
        font-size: 0.8rem;
      }
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;
    }

    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }

}
