button,
.btn {
  font-family: 'Styrene A Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  padding: 0.35rem 0.75rem;
  cursor: pointer;
  border-radius: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--border-color, #{$black});
  color: var(--font-color, #{$black});
  font-size: 8px;
  letter-spacing: 1.33px;
  $transitionAttributes: (border-color, background-color, color);
  transition: generateTransitions($transitionAttributes, 400ms);

  &--big {
    border-radius: 30px !important;
    font-size: 12px !important;
    padding: 1.2rem 2.5rem !important;
  }

  &--grey {
    --color: #{$grey};
    --font-color: $vapor;
  }

  &--icon {
    border-radius: 50%;
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
  }

  &--md {
    padding: 1rem 2rem;
    border-radius: 25px;
  }

  &--invert {
    background: $vapor;
    color: $black;
    &:hover {
      color: $vapor;
      background: $black;
    }
  }

  &--transparent-white {
    background: transparent;
    color: $vapor;
    border-color: $vapor;
    &:hover {
      color: $black;
      background: $vapor;
    }
  }

  &:hover {
    background: $black;
    color: $vapor;
    border-color: $vapor;
  }
  &:focus {
    border-color: $blue !important;
  }
}
