button,
.btn {
  font-family: 'Styrene A Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  padding: 0 0.35rem;
  cursor: pointer;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid;
  border-color: var(--border-color, #{$black});
  color: var(--font-color, #{$black});
  font-size: 8px;
  letter-spacing: 1.33px;
  $transitionAttributes: (border-color, background-color, filter, color, transform);
  transition: generateTransitions($transitionAttributes, 400ms);

  @include respond-to('mobile') {
    padding: 0.35rem 0.75rem;

  }

  &:hover, &:active, &:focus {
    color: $green;
    border: 1px solid $green;
  }

  &:disabled {
    &:hover {
      background: $smoke;
      color: $black;
      border: 1px solid $black;
      filter: unset;
      cursor: not-allowed;
    }
  }

  &.button-group {
    border-radius: 0;
    text-align: center;
    position: relative;
    margin-left: -1.5rem;
    margin-right: -1px;
    font-size: clamp(1.35rem, 7vw, 1.8rem);
    font-weight: 300;
    color: var(--main-color);
    background: var(--background-color);
    row-gap: 20px;
    width: 100%;
    border-radius: 40px;

    .button-group--icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/icons/button_group--icon.svg);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        background-size: contain;
        transition: filter 0.2s ease-in-out;
    }

    @include respond-to('mobile') {
      font-size: clamp(1rem, 3.3vw, 1.8rem);
      height: 3.875rem;

    }


    span {
      letter-spacing: -0.1rem;
    }

    &.isActive {
      background: var(--main-color);
      border: 1px solid var(--main-color);

      &:after {
        filter: invert(1);
      }

      span {
        color: var(--background-color);
      }

      img {
        filter: brightness(0) contrast(100);
      }
    }
  }

  &--arrow {
    background: transparent;
    border: unset;
    color: $vapor;
    padding: 0;
    font-size: 1.938rem;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    font-weight: 500;

    &--disabled {
      transform:  scale(0.8);
      filter: contrast(0);
      opacity: 0.8;
    }

    &:hover, &:active, &:focus {
      border: unset;
    }

    &:before {
      margin-right: 0.5rem;
      content: '';
      background-image: url(../images/icons/arrow_right.svg);
      position: relative;
      display: inline-flex;
      width: 53px;
      height: 53px;
      background-repeat: no-repeat;
      background-size: 19px 32px;
      background-position: center;
      border: 1px solid $vapor;
      border-radius: 100%;
    }

    &-green {
      @extend .btn--arrow;

      &:before {
        background-image: url(../images/icons/arrow_right--green.svg);
        border-color: $green;
      }
    }

    &-left {
      @extend .btn--arrow;

      &:before {
        transform: rotate(180deg);
      }
    }
  }
}
