.form {


  &__group {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    grid-column-gap: 1rem;
    padding: 0.5rem 0;
    justify-content: stretch;
    align-items: flex-end;
  }

  &__row {
    padding-top: 1rem;
  }

  &__error{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: $red;
    padding-left: 2px;
    font-size: 0.7rem;
    &.image_error{
      padding-right: 50px;
    }
  }

  label {
    display: block;
    padding: 0 1rem 0.2rem;
    font-size: 0.8rem;
  }

  input {
    display: block;
    border: 1px solid rgba($blue, .5);
    padding: 0.75rem 1rem;
    border-radius: 25px;
    width: 100%;

    &:focus {
      border-color: $blue;
    }
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    grid-gap: 1rem;
  }

  .form__fileDrop__container{
    $boxShadow: 0px 2px 56px -22px rgba(66, 68, 90, 0.5);
    $transitionTime: 0.4s;
    $transitionAttributes: (border-color, box-shadow);

    border-radius: 20px;
    border: 1px solid rgba($blue, .5);
    color: $lightGrey;
    display: grid;
    place-items: center;
    padding: 20px 50px;
    transition: generateTransitions($transitionAttributes, $transitionTime);
    box-shadow: 0 2px 56px -22px rgba(66, 68, 90, 0);

    &.is-focused{
      border-color: black;
      box-shadow: $boxShadow;
    }
    &.is-drag-accepted{
      border-color: green;
      box-shadow: $boxShadow;

    }
    &.is-drag-rejected{
      border-color: red;
      box-shadow: $boxShadow;
    }
  }

}

