$absoluteHorizontalCenter: translateX(-50%);
$absoluteCenter: $absoluteHorizontalCenter translateY(-50%);
$transition: opacity 200ms, transform 700ms;
@mixin modal {
  border: 2px solid $smoke;
  background: $black;
  width: 80vw;
  max-width: 600px;
  height: max-content;
  padding: 30px 50px;
  position: fixed;
  opacity: 1;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: $absoluteCenter;
  color: $vapor;

  h2 {
    font-weight: bold !important;
  }

  input {
    margin-bottom: 20px;
  }
}

.modal {
  &__connection-buttons-wrapper {
    display: flex;
    column-gap: $columnGap;
  }

  &__disconnection-buttons-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    column-gap: $columnGap;
  }

  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--vh);
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.35s transform ease-in-out, 0.5s opacity ease-in-out;
    backdrop-filter: blur(5px);

    &__is-showed {
      z-index: 5;
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $smoke;
    button {
      color: $white;
      background: $red;
    }
  }

  &-enter {
    @include modal;
    opacity: 0.3;
    transform: $absoluteHorizontalCenter translateY(-40vh);
  }

  &-enter-active {
    @include modal;
    opacity: 1;
    transform: $absoluteCenter;
    transition: $transition;
  }

  &-enter-done {
    transition: $transition;
    @include modal;
  }

  &-exit {
    @include modal;
    transform: $absoluteCenter;
    opacity: 1;
  }

  &-exit-active {
    @include modal;
    opacity: 0;
    transition: $transition;
    transform: $absoluteHorizontalCenter translateY(-40vh);
  }
}
