$absoluteHorizontalCenter: translateX(-50%);
$absoluteCenter: $absoluteHorizontalCenter translateY(-50%);
$transition: opacity 200ms, transform 700ms;
@mixin modal{
  border: 2px solid $lightGrey;
  border-radius: 10px;
  background: $white;
  width: 80vw;
  max-width: 600px;
  height: max-content;
  padding: 30px 50px;
  position: fixed;
  opacity: 1;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: $absoluteCenter;
}

.modal__button-wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid $grey;
  button{
    color: $white;
    background: $red;
  }
}

.modal-enter {
  @include modal;
  opacity: 0.3;
  transform: $absoluteHorizontalCenter translateY(-40vh);
}
.modal-enter-active {
  @include modal;
  opacity: 1;
  transform: $absoluteCenter ;
  transition: $transition;

}
.modal-enter-done{
  transition: $transition;
  @include modal;
}
.modal-exit {
  @include modal;
  transform: $absoluteCenter;
  opacity: 1;
}
.modal-exit-active {
  @include modal;
  opacity: 0;
  transition: $transition;
  transform: $absoluteHorizontalCenter translateY(-40vh);
}


.modal__connection-buttons-wrapper{
  display: flex;
  column-gap: 20px;
}
.modal__disconnection-buttons-wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
