@import "src/assets/styles/base/mixins";

.grid {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;

  @include respond-to('mobile') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to('tablet') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-to('desktop') {
    grid-template-columns: repeat(4, 1fr);
  }
}
