.homepage {
  display: flex;
  flex-direction: column;
  .container{
    background-color: $black;
  }

  .form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    margin: 2rem 0;
    padding-top: 2rem;
    @include respond-to('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
