.my-nft-collection {
  grid-column-gap: 1rem;
  padding-top: 3rem;

  @include respond-to('tablet') {
    grid-template-columns: repeat(3, 1fr) !important;
  }


  &__loader-wrapper {
    display: grid;
    width: 100%;
    min-height: calc(40vh - 62px);
    place-items: center;

    img {
      object-fit: contain;
    }

    // p {
    //   font-size: 1rem;
    //   color: $vapor;
    // }

    @include respond-to('mobile') {
      min-height: calc(50vh - 62px);
    }
  }
}
