.not-found {
  &__container {
    min-height: 50vh;
    max-width: 1300px;
    padding: 5rem 5rem 10rem;
    margin: 0 auto;

    a {
      max-width: 200px;
    }

    img {
      max-height: 300px;
      object-fit: cover;
    }
  }
}
