.overview {
  display: grid;
  row-gap: 1rem;

  a {
    color: var(--main-color);
  }

  @include respond-to('laptop') {
    grid-template-columns: 1fr 2fr;
    column-gap: 2.5rem;
  }

  &--desktop-side {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    & > div {
      @include opacity-after-bg(var(--background-color), 0.06, false);
    }
  }

  &--box {
    border-radius: 15px;
    border: 1px solid $smoke;
    overflow: hidden;

    .collapse-list > div {
      border-top: unset !important;
      border-bottom: unset !important;
    }
  }

  &--collapse {
    .collapse__header {
      font-size: 1.25rem;
      font-weight: 400;

      @include opacity-after-bg(var(--main-color), 0.2, true);
    }
  }

  &--item-activity {
    @include respond-to('laptop') {
      grid-column: 1/3;
    }

    .collapse-list > div div:nth-of-type(2) {
      padding: unset;
      border-top: unset;
    }
  }

  &__info {
    position: relative;

    * {
      margin: 0;
    }

    &:after {
      display: none !important;
    }

    .symbol {
      font-size: 0.8rem;
      margin-bottom: -10px;
    }
  }

  &__action-buttons {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__avatar {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;

    img, button {
      border-radius: 15px;
      margin-top: 0.5rem;
    }

    img {
      box-shadow: 0px 0px 0px 5px #{$blue} + 60;
    }

    &__favorites {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @include respond-to('laptop') {
      display: block;
      flex-direction: unset;
      padding: 1rem;
    }

    button {
      width: 100%;
      border-radius: 15px !important;

      @include respond-to('laptop') {
        border-radius: 30px !important;
        width: unset !important;
      }
    }
  }

  &__transaction-history {
    overflow-x: scroll;
    grid-template-columns: repeat(5, minmax(max-content, 1fr));
    display: grid;

    p {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid $smoke;
      border-right: 1px solid $smoke;

      &:nth-child(5n + 0) {
        padding-left: 1rem;
      }

      &:nth-child(5n + 5) {
        padding-right: 1rem;
        border-right: unset;
      }
    }

    &--header {
      border-bottom-color: $blue;
      border-right-color: $blue;
      @include opacity-after-bg(var(--main-color), 0.1, false);
    }
  }

  &__description {
    hr {
      margin: 0;
      &:first-of-type {
        height: 0;
      }
    }

    &__text {
      padding: 1rem;
      margin: 0;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.8;
      font-size: 1rem;

      span {
        display: flex;
        font-size: 1rem;
        font-style: italic;
        margin: 0;
      }
    }

    &__header {
      display: flex;
      padding: 0.5rem 1rem;
      align-items: flex-end;
      font-size: 1.25rem;
      font-weight: 400;
      column-gap: 0.25rem;

      @include opacity-after-bg(var(--main-color), 0.2, true);

      p {
        margin: 0;
      }
    }

    .collapse__header {
      @include opacity-after-bg(var(--main-color), 0.1, false);
    }
  }
}
