@import "./profile/collected";

.profile {

  &__details {
    display: flex;
    justify-content: space-between;

    .avatar {
      margin-top: -5rem;
    }

    &__account {
      display: flex;
      align-items: flex-start;
      grid-gap: 1rem;
    }
  }
}
