.tos {
  position: relative;
  width: 100%;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
  }

  &__header {
    h1 {
      margin-bottom: 0;
    }
  }

  &__content {
    h2 {
      margin-top: 0;
    }

    a {
      color: $green;
    }
  }
}
