.minter-wizard{
  &__creator {
    &__nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
      padding-top: 0.5rem;

      @include respond-to('desktop') {
        padding-top: 1rem;
        transition: width 500ms ease-out;
      }

      &--first-screen {
        @include respond-to('desktop') {
          width: 90%;
        }
      }

      &--summary {
        @extend .minter-wizard__creator__nav;
        margin-top: auto;
      }
    }
  }
}
