.minter-wizard {
  &__select-collection {
    max-width: 400px;

    .title {
      margin-bottom: 0.9rem;

      @include respond-to('desktop-wide') {
        font-size: default;
      }

      &--strong {
        padding-bottom: 0;
      }
    }

    .form__number {
      max-width: unset;
    }

    &__wrapper {
      width: 100%;

      @include respond-to('mobile') {
        max-width: 400px;
      }
    }

    &__summary {
      color: var(--main-color);
      display: flex;
      flex-direction: column;

      @include respond-to('mobile') {
        max-width: 50%;
        min-width: 400px;
      }

      &__title {
        font-weight: 600;
        margin-bottom: 0.25rem;
      }

      .values {
        display: flex;
        flex-direction: column;

        p {
          position: relative;
          margin: 0;
          font-size: 1rem;

          &:last-of-type {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
