.minter-wizard {
  &__summary {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    img {
      object-fit: cover;
    }

    &--final {
      @include respond-to('laptop') {
        padding: #{$headerHeight} 1rem 5rem;
      }

      @include respond-to('desktop') {
        padding: #{$headerHeight} $horizontalPaddingDesktop 5rem;
      }
    }

    &__content {
      display: grid;
      grid-template-areas:
        "avatar"
        "offchain"
        "onchain";
      grid-row-gap: 2.5rem;

      @include respond-to('laptop') {
        grid-template-columns: 300px 1fr;
        grid-template-areas:
          "avatar offchain"
          "avatar onchain";
        grid-row-gap: .5rem;

      }

      @include respond-to('desktop-wide') {
        grid-template-columns: 300px 1fr 1fr;
        grid-template-areas:
          "avatar offchain onchain";
      }

      &--processing {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        @include respond-to('laptop') {
          grid-template-columns: 300px 1fr;
        }
      }

      &--offchain {
        grid-area: offchain;
      }

      &--onchain {
        grid-area: onchain;

        @include respond-to('desktop-wide') {
          margin-top: 3.5rem;
        }
      }

      &--avatar {
        grid-area: avatar;
      }
    }

    &__image {
      width: 300px;
      height: 300px;
      border-radius: 30px;
      background-color: $inputColor;
      border: 1px solid $black;
      margin-top: 1rem;

      img {
        width: 300px;
        height: 300px;
        border-radius: 30px;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      row-gap: 0.75rem;

      .title {
        margin: 0.5rem 0 0;
      }

      &--gutter {
        @extend .minter-wizard__summary__column--gutter-left;
        @extend .minter-wizard__summary__column--gutter-top;

        &-left {
          @extend .minter-wizard__summary__column;

          position: relative;

          @include respond-to('laptop') {
            margin-left: 7.5rem;
          }
        }

        &-top {
          @extend .minter-wizard__summary__column;

          @include respond-to('laptop') {
            margin-top: 3.5rem;
          }
        }
      }

      &--mobile {
        &-visible {
          @include respond-to('tablet') {
            display: none;
          }
        }

        &-invisible {
          display: none;

          @include respond-to('tablet') {
            display: block;
          }
        }
      }
    }

    &__row {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      color: #{$vapor}85;
      max-width: 600px;
      width: 100%;
      align-items: center;

      @include respond-to('mobile') {
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-rows: 1fr;
      }

      @include respond-to('laptop') {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }

      @include respond-to('desktop-extra-wide') {
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-rows: 1fr;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        margin-bottom: 0;

        @include respond-to('desktop-extra-wide') {
          margin-bottom: 0.35rem;
        }
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $vapor;
        font-size: 1.405rem;
      }

      &--description {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        p {
          margin-bottom: 0.35rem;
        }

        span {
          white-space: normal;
        }
      }

      &__group {
        display: grid;
        grid-row-gap: 0.75rem;
      }
    }

    &__header {
      margin-top: 1.75rem;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    &__warning {
      padding: 2rem 2rem 4rem;
      border: 1px solid $warningAddonColor;
      background-color: $warningBackgroundColorSolid;
      border-bottom-right-radius: 100%;
      height: min-content;
      position: fixed;
      top: 0;
      width: 100%;

      @include respond-to('laptop') {
        background-color: $warningBackgroundColor;
        position: relative;
      }

      p {
        margin: 0;
      }

      &:after {
        position: absolute;
        top: 4rem;
        right: 4.5rem;
        content: '!';
        font-size: 7.5rem;
        font-weight: 900;
        color: $warningAddonColor;

        @include respond-to('mobile') {
          right: 8rem;
        }
      }
    }

    &__item-list {
      list-style-image: url(../images/icons/checkmark_white.svg);

      li {
        line-height: 1.5rem;

        p {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &::marker {
          font-size: 1.938rem;
        }

        &.green {
          font-size: 1.35rem;
          font-weight: 700;
          color: $green;
        }
      }

      &--green {
        @extend .minter-wizard__summary__item-list;
        list-style-image: url(../images/icons/checkmark.svg);

        li {
          &::marker {
            font-size: 2.5rem;
          }
        }
      }
    }

    &__loader {
      margin-left: 50px;
      margin-top: 125px;

      @include respond-to('laptop') {
        margin-left: 123px;
        margin-top: 75px;
      }

      img {
        width: 110px;
        height: 110px;
        margin-bottom: 0.75rem;
      }
    }

    &__hashscan, &__token-id {
      display: grid;
      grid-template-columns: 37px 1fr;
      align-items: center;
      column-gap: .5rem;
      font-weight: 500;
      text-decoration: unset;
      color: $vapor;

      span {
        color: $green;
      }
    }
    &__hashscan {
      img {
        margin-left: 4px;
        width: 20px;
        height: 20px;
      };
    }

    &__token-id {
      img {
        width: 37px;
        height: 32px;
      };
    }

    &__collection {
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 700;
      text-decoration: unset;
      color: $vapor;
      width: max-content;
      padding: 0;
    }

    &--done {
      @extend .minter-wizard__summary;

      .minter-wizard {
        &__summary {
          &__image {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-image: url(../images/done_border.svg);
              background-repeat: no-repeat;
              background-size: cover;
              width: 327px;
              height: 327px;
            }
          }
        }
      }
    }
  }
}
