$buttonMargin: 1.4rem;

.minter-wizard {
  &__welcome {
    margin-left: -$buttonMargin;

    .title {
      &--welcome {
        padding-top: 1rem;
        margin-top: 0;
        font-size: 1.913rem;

        @include respond-to('mobile') {
          font-size: 2.313rem;
        }
      }
    }

    &__container {
      padding-left: $buttonMargin;
    }

    .scrollbar {
      &__track {
        &-y {
          right: -$buttonMargin !important;

          @include respond-to('mobile') {
            right: 50% !important;
          }
        }
      }
    }

    .minter-wizard {
      &__step {
        &__wrapper {
          @include respond-to('mobile') {
            padding-right: 1rem;
            max-width: 50%;
          }
        }
      }
    }
  }
}
