@import "src/assets/styles/base/variables";

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $blue;
    animation: lds-facebook 1.5s ease-in-out infinite;
  }

  div:nth-child(1) {
    left: 8px;
    animation-delay: .75s;
  }

  div:nth-child(2) {
    left: 32px;
    animation-delay: 1s;
  }

  div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }

}
@keyframes lds-facebook {
  0%, 100% {
    top: 8px;
    height: 64px;
  }
  50% {
    top: 24px;
    height: 32px;
  }
}
