@import "src/assets/styles/base/variables";
@import "src/assets/styles/base/mixins";

.socials-groups {
  @include gradient-border('top', 2px);
}

.social-select {
  position: relative;

  &__no-option {
    display: flex;
    column-gap: .5rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      color: $blue;
    }

  }

  &__remove-btn {
    display: flex;
    align-self: center;
    margin-left: .5rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    cursor: pointer;
    margin-right: 7px;

    img {
      min-width: 30px;
      min-height: 30px;
    }


    &:after {
      content: "";
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAWCAYAAAGHyp2xAAAAAXNSR0IArs4c6QAAAMdJREFUOBHdksENwjAMRQNHpIoFOHQINmEG7qzEKkjdowMwAKeG5zR2HaUKXECISEl+/v+u7SYhrI4YYxdYzqamA0tvjIDCkokesksuA1mJidUFtSa2qtpuNsDDWAWiMpY6VfD77GmYMEjVVTmJhJ/bkU+qsyCzcIScfN4CI16+aNgUyfOB/HfgtdIQRubwYeFAjluVwxMY5C/JmJjte/WBign6sw+ctLXmTt/yWuUWZQzM5dWuRWL4wYAdZb3fg++LwL0/v8JPRopLxx/wYTIAAAAASUVORK5CYII=);
      filter: contrast(100);
      min-width: 15px;
      min-height: 15px;
      width: 15px;
      height: 15px;
      display: flex;
      position: relative;
      transform: rotate(90deg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      filter: invert(100);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  &__options {
    position: relative;
    height: calc(48px + 0.5rem);
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 21.8px;
    min-height: 100%;
    padding: 0.5rem 0;
    z-index: 1;

    &.hasMultipleOptions {
      .social-select__option {
        height: unset;
        min-height: unset;
        border-radius: unset;

        &:first-of-type {
          border-radius: 15px 15px 0 0;
          border-bottom: unset;
        }

        &:last-of-type {
          border-radius: 0px 0px 15px 15px;
          border-top: unset;
        }
      }
    }
  }

  &__option {
    display: flex;
    padding: .5rem 1rem;
    background: $vapor;
    column-gap: 1.24rem;
    border: 1px solid $black;
    // min-height: 69px;
    border-radius: 25px;
    align-items: center;

    .social-select__icon {
      &:after {
        transform: unset;
        opacity: 0;
        filter: invert(0);
      }
    }

    &.isActive {
      background: $smoke;
      color: $vapor;

      img {
        filter: invert(100);
      }
    }

    &:hover {
      cursor: pointer;
      background: $blue;
      color: $vapor;

      .social-select__icon {
        img {
          filter: invert(1);
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__wrapper {
    padding: 0 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 21.8px;
    justify-content: space-between;

    &-main {
      display: flex;
      justify-content: space-between;
      width: 100%;
      min-height: 42px;
    }
  }

  &__active-selection {
    border: 1px solid;
    border-color: var(--border-color);
    margin-bottom: 0.5rem;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;

    .form__error {
      flex: 0 1 100%;
      max-height: 14px;
      justify-content: flex-start;
      padding-left: 4.5rem;
    }
  }

  &.areAllSocialsUsed {
    .social-select__icon {
      min-width: 30px;
      cursor: inherit;

      &:after {
        background-image: unset;
      }
    }
  }

  &.isSelectShowed {
    background-color: #00000020;
    border-radius: 25px;
  }
}
