@import '@assets/styles/base/functions';
@import '@assets/styles/base/variables';

.avatar {
  display: flex;
  position: relative;
  width: 150px;

  img {
    transition: generateTransitions((transform), 400ms);
    position: relative;
    background: $gradient;
    box-shadow: 0px 0px 0px 5px #{$blue}+60;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    min-height: 113px;
    border-radius: 100%;
  }

  &::before {
    content: '';
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
