@import "src/assets/styles/base/mixins";

.select-collection {
  width: 25.26vw;
  &__select-wrapper {
    width: 100%;

    @include respond-to("mobile") {
      max-width: 50%;
      min-width: 400px;
    }
  }

  .form__number {
    max-width: unset;
  }
}
