html,
body {
  min-width: 320px;
}

button {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

hr {
  border: unset;
  height: 1px;
  background: $gradient;
}

main {
  max-height: calc(100vh - 100px);
}

::-webkit-scrollbar {
  display: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  display: none;
  background: transparent;
}


.container {
  margin: 0 auto;
  padding: 3rem 1rem;

  @include respond-to('tablet') {
    padding: 3.25% 4.25% 10.25%;
  }

  &--padding {
    padding: $headerHeightMobile $horizontalPadding $footerHeight;

    @include respond-to('mobile') {
      padding: $headerHeight $horizontalPadding $footerHeight;
    }

    @include respond-to('tablet') {
      padding: $headerHeight $horizontalPaddingTablet $footerHeight;
    }

    @include respond-to('desktop') {
      padding: $headerHeight $horizontalPaddingDesktop $footerHeight;
    }

    @include respond-to('desktop-wide') {
      padding: $headerHeightWide $horizontalPaddingDesktop $footerHeight;
    }
  }

  &--max-height {
    height: var(--vh);
  }

  &--min-height {
    min-height: var(--vh);
  }
}


.bg {
  &--transparent {
    background: transparent;
  }
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-space-between {
    display: flex;
    justify-content: space-between;
  }
}
