footer,
.footer {
  min-height: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  position: fixed;
  bottom: 0;

  &__logo {
    position: absolute;
    right: var(--horizontal-padding);
    bottom: 0.5rem;

    img {
      width: 100px;
      height: 43px;
      object-fit: contain;

      @include respond-to('tablet') {
        width: 140px;
        height: 63px;
      }
    }

    &--left {
      @extend .footer__logo;

      left: var(--horizontal-padding);
      right: unset;

      img {
        width: 100px;
        height: 42px;

        @include respond-to('mobile') {
          width: 170px;
          height: 76px;
        }
      }
    }
  }
}
