footer,
.footer {
  min-height: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;

  &__logo {
    position: absolute;
    right: var(--horizontal-padding);
    margin-top: .75rem;

    img {
      width: 100px;
      height: 43px;
      object-position: right;
      object-fit: contain;

      @include respond-to('mobile') {
        width: 140px;
        height: 56px;
      }
    }

    &--left {
      @extend .footer__logo;

      left: var(--horizontal-padding);
      right: unset;

      img {
        object-position: left;
      }
    }
  }
}
