@import "src/assets/styles/base/variables";

.collapse-list {
  & > div {
    border-top: 2px solid $smoke;

    div:nth-of-type(2) {
      padding: 0.5rem 1rem;
      border-top: 1px solid $smoke;
    }

    &:last-of-type {
      border-bottom: 2px solid $smoke;
    }
  }
}
